/* ======================= Body ======================= */

* 
{
    -webkit-tap-highlight-color: transparent; /* Safari/Chrome iOS */
    -webkit-touch-callout: none;              /* Prevents long-press menu on links/images */
}
    /* removes blue highlight on touch on mobile */
    /* also might remove highlited links since applyed everywhere */

body
{
    position: relative;
    background-color: var(--background-color);
    font-family: sans-serif;

    transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
    overflow-x: clip;
}

/* gradient overlay */
body::before {
    content: "";
    position: fixed;
    inset: 0;
    /* extend gradient to prevent white gap when mobile browser UI hides */
    height: 120vh;
    width: 100%;
    /* height: calc(var(--vh, 1vh) * 100); */
    background: var(--background-gradient, none), var(--background-image, none);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
    opacity: var(--overlay-opacity);
    pointer-events: none;

    transition: opacity 0.3s ease;

    /* white space when scrolling fix, forces gpu to prerender */
    transform: translate3d(0, 0, 0);
    will-change: opacity, transform;
    contain: paint;
}

/* ======================= Header ======================= */

#header
{
    position: relative;
    left: 50%;
    translate: -50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--header-color);
    color: var(--text-color-header);
    font-size: 2em;
    border-radius: 40px;
    margin-top: 20px;
    margin-bottom: 70px;
    min-width: 500px;
    box-shadow: 0px 0px 25px var(--shadow-color);
    user-select: none;

    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, backdrop-filter 0.3s ease;
}

#header::before
{
    content: "";
    position: absolute;
    background: var(--header-gradient, none);
    inset: 0;
    border-radius: inherit;
    z-index: -1;
    opacity: var(--overlay-opacity);

    transition: opacity 0.3s ease;
    pointer-events: none;
}

/* ======================= To Do List app + Button panel container ======================= */

#container
{
    display: inline-block;
    position: relative;
    left: 50%;
    translate: -50%;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
}

/* ======================= To Do List app - input + list items ======================= */

#ToDoList
{
    box-sizing: border-box;
    position: relative;
    background-color: var(--primary-color);
    
    width: 500px;
    min-height: 50px;
    border-radius: 50px;
    padding: 50px 30px 30px;
    box-shadow: 0px 0px 15px var(--shadow-color);
    margin-bottom: 70px;

    transition: background-color 0.3s ease, box-shadow 0.3s ease, backdrop-filter 0.3s ease;
}

#ToDoList::before
{
    content: "";
    position: absolute;
    inset: 0;
    background: var(--primary-gradient);
    border-radius: inherit;

    opacity: var(--overlay-opacity);
    transition: opacity 0.3s ease;
    pointer-events: none;
}

/* ======================= Input container - input + button ======================= */

#input
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--input-color);
    border-radius: 50px;
    margin-bottom: 30px;
    position: relative;
    /* relative renders on top of gradient */

    transition: background-color 0.3s ease;
    
}

#input input
{
    width: 400px;
    height: 50px;
    flex-grow: 1;
    border-radius: 50px;
    outline: none;
    border: none;
    background: transparent;
    padding: 0px 20px;
    font-size: 1.2em;
    color: var(--input-text-color);
}

#input input::placeholder
{
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    color: var(--input-placeholder-color);

    transition: color 0.3s ease;
}

#input button
{
    border: none;
    outline: none;
    height: 50px;
    width: 150px;
    border-radius: 50px;
    background-color: var(--button-color);
    color: var(--button-text-color);
    font-size: 1.1em;
    cursor: pointer;
    transition: box-shadow 0.3s ease-out, transform 0.3s ease-out, background-color 0.3s ease;
    user-select: none;

    /* white pixels on the right fix, it works so -_- */
    position: relative;     
    left: 2px;

    touch-action: manipulation;
}

/* ======================= Ordered List container + list items ======================= */

#orderedList
{
    font-size: 1.5em;
    list-style-type: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

#orderedList li
{
    position: relative;
    margin: 5px 0px;
    background: transparent;
    box-shadow: 0px 0px 15px var(--shadow-color);
    border-radius: 20px;
    margin: 15px 0px;
    padding: 10px 20px;
    padding-left: 50px;
    padding-right: 50px;
    color: var(--text-color-second);
    overflow-wrap: break-word;

    transition: transform 0.2s ease, color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;

    touch-action: manipulation;
    user-select: none;
}

/* ======================= List items check button + remove button ======================= */

#orderedList span.check
{
    box-sizing: border-box;
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid var(--text-color-second);
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

    transition: border 0.3s ease;
}

#orderedList li span.remove
{
    position: absolute;
    right: 20px;
    cursor: pointer;
    transform: scaleX(1.2);

    top: 50%;
    transform: translateY(-50%);
}

#orderedList li.checked
{
    background-color: var(--checked-color);
    color: var(--text-color-first);
}

#orderedList li.checked span.check
{
    background-color: rgb(28, 158, 45);
    border: 2px solid var(--text-color-first);
}

#orderedList li.checked span.check::after
{
    content: "✓";
    position: absolute;
    color: white;
    left: 2px;
    top: -6px;
    transform: scaleX(1.5);
    scale: 50%;
    font-weight: 900;
    cursor: pointer;
}

/* ======================= List items when dragging + Edit on double click input element ======================= */

#orderedList li.dragging
{
    background: var(--dragging-color);
}

#orderedList li.dragging.checked
{
    background-color: var(--dragging-checked-color);
}


#orderedList li.over
{
    
}

.input-edit
{
    /* border: none; */
    outline: none;
    background: transparent;
    font: inherit;
    color: inherit;
    width: 100%;
    resize: none;
    margin: 0;
    padding: 0;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    overflow-wrap: break-word;
    white-space: pre-wrap;

    vertical-align: middle;

    /* height: auto;
    min-height: 1.2em;
    line-height: 1.2em; */

    /* border: 3px inset var(--primary-color); */
}

.input-edit::-webkit-scrollbar
{
    display: none;
}

/* ======================= Button panel ======================= */

#panel
{
    position: absolute;
    left: calc(50% + 250px);
    top: 0px;
    margin-left: 10px;
}

.pannel-buttons
{
    position: relative;
    width: 70px;
    height: 70px;
    margin: 15px 10px;
    border-radius: 50%;
    background-color: var(--primary-color);
    box-shadow: 0px 0px 15px var(--shadow-color);
    cursor: pointer;

    transition: transform 0.2s ease, background-color 0.3s ease, box-shadow 0.3s ease, backdrop-filter 0.3s ease;

    display: flex;
    align-items: center;
    justify-content: center;

    touch-action: manipulation;
}

.pannel-buttons::before
{
    content: "";
    position: absolute;
    border-radius: inherit;
    inset: 0;
    background: var(--primary-gradient);
    opacity: var(--overlay-opacity);
    pointer-events: none;

    transition: opacity 0.3s ease;
}

/* ======================= Panel icons ======================= */

#panel svg
{
    z-index: 1;
    transition: fill 0.3s ease;
}

svg.clean-all-icon
{
    width: 40px;
    height: 40px;
    fill: var(--text-color-second);
}


svg.light-icon
{
    width: 40px;
    height: 40px;
    fill: var(--text-color-second);
}
svg.dark-icon
{
    width: 40px;
    height: 40px;
    fill: var(--text-color-second);
}
#light-dark svg:first-child
{
    display: none;
}
.darkmode #light-dark svg:last-child
{
    display: none;
}
.darkmode #light-dark svg:first-child
{
    display: block;
}


svg.customization-icon
{
    width: 40px;
    height: 40px;
    fill: var(--text-color-second);
}

/* ======================= Customization Menu ======================= */

.perspective-wrapper
{
    position: relative;
    perspective: 800px;
    perspective-origin: -150px 50px;
}

#customization-menu.active
{
    animation: popOut 0.4s ease forwards;
    visibility: visible;
    pointer-events: auto;
}

#customization-menu.hidden
{
    animation: popIn 0.4s ease forwards;
    pointer-events: none;
}

#customization-menu
{
    position: absolute;

    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: hidden;
    touch-action: pan-y;
    /* Make mobile swipes work anywhere inside customization menu*/

    box-sizing: border-box;
    background-color: var(--primary-color);
    width: 300px;
    height: 300px;
    border-radius: 50px;
    box-shadow: 0px 0px 15px var(--shadow-color);
    left: -280px;
    top: -20px;

    transition: background-color 0.3s ease, box-shadow 0.3s ease, opacity 0.4s ease, backdrop-filter 0.3s ease;

    /* default state, or you can just add hidden class in html and remove additional js logic when we click outside of the window */
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    /* no i cannot add hidden class as default in html, because hide animation will be played each time you reload page */
}

#customization-menu::before
{
    content: "";
    position: absolute;
    inset: 0;
    background: var(--primary-gradient);
    opacity: var(--overlay-opacity);
    border-radius: inherit;
    pointer-events: none;

    transition: opacity 0.3s ease;
}

#customization-menu .scroll-wrapper
{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: scroll;

    inset: 0;
    height: 100%;
    width: 100%;

    padding-top: 17px;
    padding-bottom: 17px;

    -webkit-overflow-scrolling: touch;
    /* smooth iOS scrolling */
}

#scroll-wrapper::-webkit-scrollbar
{
    display: none;
}

#customization-menu span 
{
    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
}

/* ======================= Theme presets previews ======================= */

.customization-presets
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    width: 160px;
    height: 60px;
    box-shadow: 0px 0px 15px var(--shadow-color);
    margin: 17px 10px;
    border-radius: 10px;

    transition: box-shadow 0.3s ease, transform 0.3s ease, border 0.3s ease;

    touch-action: manipulation;
}

#customization-menu .customization-presets:first-child
{
    margin-top: 0px;
}

#customization-menu .customization-presets:last-child
{
    margin-bottom: 17px;
}

.customization-presets span
{
    height: 100%;
    width: 100%;

    transition: background-color 0.3s ease;
}

.customization-presets span#color1
{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.customization-presets span#color5
{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


.preset-names
{
    position: absolute;
    color: var(--text-color-second);
    left: 50%;
    translate: -50%;
    top: calc(100% + 5px);
    font-size: 1.1em;
    font-weight: bold;

    white-space: nowrap;
    user-select: none;

    transition: color 0.3s ease;
}

.customization-presets.selectedPreset
{
    border: 3px solid var(--selected-preset-border);
    border-radius: 15px;
    box-shadow: 0px -3px 20px var(--selected-preset-shadow);
}

/* ======================= Keyframes ======================= */

@keyframes popOut
{
    0%
    {
        opacity: 0;
        visibility: visible;
        transform: translateX(170px) translateY(-170px) scale(0.3) rotateX(50deg) rotateY(30deg) rotateZ(0deg);
        border-radius: 50%;
    }

    100%
    {
        opacity: 1;
        visibility: visible;
        transform: translateX(0px) translateY(0px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
}

@keyframes popIn
{
    0%
    {
        opacity: 1;
        visibility: visible;
        transform: translateX(0px) translateY(0px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0);
        border-radius: 50px;
    }

    40%
    {
        opacity: 0;
    }

    90%
    {
        transform: translateX(170px) translateY(-170px) scale(0.3) rotateX(50deg) rotateY(30deg) rotateZ(0deg);
        border-radius: 50%;
    }

    100%
    {
        visibility: hidden;
    }
}

/* ======================= Adaptation to devices with smaller resolution ======================= */

@media (max-width: 700px)
{
    #panel
    {
        position: static;
    }

    .pannel-buttons
    {
        margin-right: 0;
    }

    #customization-menu
    {
        /* left: 180px;
        top: 250px; */

        /* had to use before applying perspective wrapper, before having perspective at all */
    }
}

@media (max-width: 440px)
{
    #header
    {
        min-width: 300px;
        margin-bottom: 130px;
    }

    #container
    {
        display: inline-block;
        position: relative;
        left: 50%;
        translate: -50%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: row;
    }

    #ToDoList
    {
        width: 380px;
    }

    #input input
    {
        width: 180px;
    }

    #container
    {
        margin-top: 100px;
    }

    #panel
    {
        display: flex;

        position: absolute;
        left: calc(50%);
        translate: -50%;
        top: calc(0px - 70px - 30px);
        margin-left: 0;
    }

    .pannel-buttons
    {
        margin: 15px 10px;
    }

    #customization-menu
    {
        top: 100px;
    }

    @keyframes popOut
    {
        0%
        {
            opacity: 0;
            visibility: visible;
            transform: translateX(90px) translateY(-170px) scale(0.3) rotateX(50deg) rotateY(30deg) rotateZ(0deg);
            border-radius: 50%;
        }

        100%
        {
            opacity: 1;
            visibility: visible;
            transform: translateX(0px) translateY(0px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        }
    }

    @keyframes popIn
    {
        0%
        {
            opacity: 1;
            visibility: visible;
            transform: translateX(0px) translateY(0px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0);
            border-radius: 50px;
        }

        40%
        {
            opacity: 0;
        }

        90%
        {
            transform: translateX(90px) translateY(-170px) scale(0.3) rotateX(50deg) rotateY(30deg) rotateZ(0deg);
            border-radius: 50%;
        }

        100%
        {
            visibility: hidden;
        }
    }
}

/* ======================= Desktop responsive effects ======================= */

@media (hover: hover) and (pointer: fine)
{
    #input button:hover
    {
        transform: scale(1.0);
        background-color: var(--button-color-hover);
    }

    #input button:active
    {
        transform: scale(0.95);
    }

    #orderedList li:active
    {
        transform: scale(0.99);
    }

    .pannel-buttons:hover
    {
        transform: scale(1.05);
        box-shadow: 0px 0px 20px var(--shadow-color);
    }
    .pannel-buttons:active
    {
        transform: scale(0.99);
        box-shadow: 0px 0px 10px var(--shadow-color);
    }

    .customization-presets:hover:not(.selectedPreset)
    {
        transform: scale(1.04);
        box-shadow: 0px -3px 30px var(--shadow-color);
    }
    .customization-presets:active:not(.selectedPreset)
    {
        transform: scale(0.99);
        box-shadow: 0px -3px 30px var(--selected-preset-shadow);
    }
    .customization-presets:active
    {
        transform: scale(0.99);
        box-shadow: 0px -3px 30px var(--selected-preset-shadow);
    }
}

/* ======================= Mobile responsive effects ======================= */

@media (hover: none), (pointer: coarse)
{
    #input button:active
    {
        box-shadow: 0px 0px 5px var(--shadow-color);
        transform: scale(0.95);
    }

    #orderedList li:active
    {
        transform: scale(0.99);
    }

    .pannel-buttons:active
    {
        transform: scale(0.95);
        box-shadow: 0px -3px 10px var(--shadow-color);
    }

    .customization-presets:active:not(.selectedPreset)
    {
        transform: scale(0.95);
        box-shadow: 0px -3px 30px var(--selected-preset-shadow);
    }
    .customization-presets:active
    {
        transform: scale(0.95);
        box-shadow: 0px -3px 30px var(--selected-preset-shadow);
    }
}

/* ======================= Theme presets preview colors ======================= */

/*                                PRESET 1                                */

#preset1 #color1{background-color: #fafaff;}
#preset1 #color2{background-color: #e0e4f1;}
#preset1 #color3{background-color: #d0d3df;}
#preset1 #color4{background-color: #c0c3cc;}
#preset1 #color5{background-color: #b0b2bb;}

body.darkmode #preset1 #color1{background-color: #3a3a49;}
body.darkmode #preset1 #color2{background-color: #373746;}
body.darkmode #preset1 #color3{background-color: #353542;}
body.darkmode #preset1 #color4{background-color: #32323f;}
body.darkmode #preset1 #color5{background-color: #30303b;}

/*                                PRESET 2 Sky Tones                                */

#preset2 #color1{background-color: #d4f1ff;}
#preset2 #color2{background-color: #def4ff;}
#preset2 #color3{background-color: #e7f7ff;}
#preset2 #color4{background-color: #f1faff;}
#preset2 #color5{background-color: #fafdff;}

body.darkmode #preset2 #color1{background-color: #4a697a;}
body.darkmode #preset2 #color2{background-color: #3a5a6b;}
body.darkmode #preset2 #color3{background-color: #2a4b5c;}
body.darkmode #preset2 #color4{background-color: #193c4d;}
body.darkmode #preset2 #color5{background-color: #062e3f;}

/*                                PRESET 3 Soft Pastels                                */

#preset3 #color1{background-color: #ffd6ff;}
#preset3 #color2{background-color: #f0d4ff;}
#preset3 #color3{background-color: #dfd2ff;}
#preset3 #color4{background-color: #cdd1ff;}
#preset3 #color5{background-color: #bbd0ff;}

body.darkmode #preset3 #color1{background-color: #401d40;}
body.darkmode #preset3 #color2{background-color: #361d41;}
body.darkmode #preset3 #color3{background-color: #2a1d42;}
body.darkmode #preset3 #color4{background-color: #1d1d40;}
body.darkmode #preset3 #color5{background-color: #0d1c3e;}

/*                                 just a fallback color for empty presets                                */

/* added them to test custom scroll animation */

.customization-presets #color1{background-color: #fafaff;}
.customization-presets #color2{background-color: #e0e4f1;}
.customization-presets #color3{background-color: #d0d3df;}
.customization-presets #color4{background-color: #c0c3cc;}
.customization-presets #color5{background-color: #b0b2bb;}

body.darkmode .customization-presets #color1{background-color: #3a3a49;}
body.darkmode .customization-presets #color2{background-color: #373746;}
body.darkmode .customization-presets #color3{background-color: #353542;}
body.darkmode .customization-presets #color4{background-color: #32323f;}
body.darkmode .customization-presets #color5{background-color: #30303b;}

/* ======================= Fallback variables ======================= */

:root
{
    --background-image: none;

    --background-gradient: none;
    --background-color: #fafaff;

    --primary-gradient: none;
    --primary-color: #e0e4f1;

    --header-gradient: none;
    --header-color: #e0e4f1;

    --button-color: #da2c38;
    --button-color-hover: #da2c38;
    --button-text-color: #ffffff;

    --input-color: white;
    --input-placeholder-color: #202020;
    --input-text-color: #202020;

    --checked-color: #95cab0;

    --dragging-color: #e6eaf8;
    --dragging-checked-color: #9bd4b9;

    --text-color-first: #ffffff;
    --text-color-second: #575757;
    --text-color-header: #575757;

    --shadow-color: #acb6d3;
    --selected-preset-border: #414141;
    --selected-preset-shadow: rgb(65, 65, 65);

    --overlay-opacity: 0;
}

.darkmode
{
    --background-image: none;

    --background-gradient: none;
    --background-color: #30303b;

    --primary-gradient: none;
    --primary-color: #3b3b4b;

    --header-gradient: none;
    --header-color: #3b3b4b;

    --button-color: #df3843;
    --button-color-hover: #df3843;
    --button-text-color: #ffffff;

    --input-color: #2e2e3a;
    --input-placeholder-color: #b4b4b4;
    --input-text-color: #b4b4b4;

    --checked-color: #678576;

    --dragging-color: #5a5a5a;
    --dragging-checked-color: #6c927e;

    --text-color-first: #2e2e2e;
    --text-color-second: #b4b4b4;
    --text-color-header: #b4b4b4;

    --shadow-color: #252525;
    --selected-preset-border: #8a8a8a;
    --selected-preset-shadow: #8a8a8a;

    --overlay-opacity: 0;
}

/* ======================= Themes ======================= */

/*                                PRESET 1                                */

.preset1-light
{
    --background-gradient: none;
    --background-color: #fafaff;

    --primary-gradient: none;
    --primary-color: #e0e4f1;

    --header-gradient: none;
    --header-color: #e0e4f1;

    --button-color: #da2c38;
    --button-color-hover: #da2c38;
    --button-text-color: #ffffff;

    --input-color: white;
    --input-placeholder-color: #202020;
    --input-text-color: #202020;

    --checked-color: #95cab0;

    --dragging-color: #e6eaf8;
    --dragging-checked-color: #9bd4b9;

    --text-color-first: #ffffff;
    --text-color-second: #575757;
    --text-color-header: #575757;

    --shadow-color: #acb6d3;
    --selected-preset-border: #414141;
    --selected-preset-shadow: rgb(65, 65, 65);

    --overlay-opacity: 0;
}

.preset1-dark
{
    --background-gradient: none;
    --background-color: #30303b;

    --primary-gradient: none;
    --primary-color: #3b3b4b;

    --header-gradient: none;
    --header-color: #3b3b4b;

    --button-color: #c03740;
    --button-color-hover: #c03740;
    --button-text-color: #ffffff;

    --input-color: #30303b;
    --input-placeholder-color: #b4b4b4;
    --input-text-color: #b4b4b4;

    --checked-color: #678576;

    --dragging-color: #444455;
    --dragging-checked-color: #6c927e;

    --text-color-first: #2e2e2e;
    --text-color-second: #b4b4b4;
    --text-color-header: #b4b4b4;

    --shadow-color: #252525;
    --selected-preset-border: #8a8a8a;
    --selected-preset-shadow: #8a8a8a;

    --overlay-opacity: 0;
}

/*                                PRESET 2 Sky Tones                                */

.preset2-light
{
    --background-gradient: linear-gradient(100deg, #d4f1ff, #ffffff);
    --background-color: #d4f1ff;

    --primary-gradient: linear-gradient(100deg, #d4f1ff -20%, #ffffff);
    --primary-color: #d4f1ff;

    --header-gradient: linear-gradient(100deg, #d4f1ff, #ffffff);
    --header-color: #d4f1ff;

    --button-color: #686363;
    --button-color-hover: #686363;
    --button-text-color: #f1faff;

    --input-color: white;
    --input-placeholder-color: #202020;
    --input-text-color: #202020;

    --checked-color: #95cab0;

    --dragging-color: #dff2fd;
    --dragging-checked-color: #9bd4b9;

    --text-color-first: #ffffff;
    --text-color-second: #494646;
    --text-color-header: #494646;

    --shadow-color: #acb6d3;
    --selected-preset-border: #414141;
    --selected-preset-shadow: rgb(65, 65, 65);

    --overlay-opacity: 1;
}

.preset2-dark
{
    --background-gradient: linear-gradient(100deg, #4a697a -20%, #062e3f);
    --background-color: #193c4d;

    --primary-gradient: linear-gradient(100deg, #4a697a -40%, #062e3f 130%);
    --primary-color: #193c4d;

    --header-gradient: linear-gradient(100deg, #4a697a -20%, #062e3f);
    --header-color: #193c4d;

    --button-color: #0d303d;
    --button-color-hover: #0d303d;
    --button-text-color: #ffdfdb;

    --input-color: #113c4e;
    --input-placeholder-color: #bbaba9;
    --input-text-color: #ffdfdb;

    --checked-color: #538679;

    --dragging-color: #385766;
    --dragging-checked-color: #588b7f;

    --text-color-first: #ffdfdb;
    --text-color-second: #ffdfdb;
    --text-color-header: #ffdfdb;

    --shadow-color: #062e3f;
    --selected-preset-border: #beada9;
    --selected-preset-shadow: #978986;

    --overlay-opacity: 1;
}

.preset2-dark .pannel-buttons
{
    background-color: transparent;
}

.preset2-dark .pannel-buttons::before
{
    background: transparent;
}
/*                                PRESET 3 Soft Pastels                                */

.preset3-light
{
    --background-gradient: linear-gradient(100deg, #FFD6FF, #BBD0FF);
    --background-color: #BBD0FF;

    --primary-gradient: linear-gradient(100deg, #FFD6FF -20%, #BBD0FF);
    --primary-color: #BBD0FF;

    --header-gradient: linear-gradient(100deg, #FFD6FF, #BBD0FF);
    --header-color: #BBD0FF;

    --button-color: #686363;
    --button-color-hover: #686363;
    --button-text-color: #f1faff;

    --input-color: white;
    --input-placeholder-color: #202020;
    --input-text-color: #202020;

    --checked-color: #95cab0;

    --dragging-color: #dff2fd;
    --dragging-checked-color: #9bd4b9;

    --text-color-first: #ffffff;
    --text-color-second: #433b52;
    --text-color-header: #433b52;

    --shadow-color: #8997b6;
    --selected-preset-border: #414141;
    --selected-preset-shadow: rgb(65, 65, 65);

    --overlay-opacity: 1;
}

.preset3-light .pannel-buttons, 
.preset3-light #header, 
.preset3-light #ToDoList, 
.preset3-light #customization-menu
{
    background-color: transparent;
    backdrop-filter: blur(10px);
}

.preset3-light .pannel-buttons::before, 
.preset3-light #header::before, 
.preset3-light #ToDoList::before, 
.preset3-light #customization-menu::before
{
    background: transparent;
}

.preset3-dark
{
    --background-gradient: linear-gradient(100deg, #401d40 -10%, #0d1c3e);
    --background-color: #0d1c3e;

    --primary-gradient: linear-gradient(100deg, #401d40 -10%, #0d1c3e 130%);
    --primary-color: #0d1c3e;

    --header-gradient: linear-gradient(100deg, #401d40 -10%, #0d1c3e);
    --header-color: #0d1c3e;

    --button-color: #221b2e;
    --button-color-hover: #221b2e;
    --button-text-color: #ddbcdd;

    --input-color: #292236;
    --input-placeholder-color: #b19cb1;
    --input-text-color: #c2acc2;

    --checked-color: #3e755c;

    --dragging-color: #361d41;
    --dragging-checked-color: #487c65;

    --text-color-first: #ddbcdd;
    --text-color-second: #c2acc2;
    --text-color-header: #c2acc2;

    --shadow-color: #1a1819;
    --selected-preset-border: #c2acc2;
    --selected-preset-shadow: #c2acc2;

    --overlay-opacity: 1;
}

.preset3-dark .pannel-buttons, 
.preset3-dark #header, 
.preset3-dark #ToDoList, 
.preset3-dark #customization-menu
{
    background-color: transparent;
    backdrop-filter: blur(10px);
}

.preset3-dark .pannel-buttons::before, 
.preset3-dark #header::before, 
.preset3-dark #ToDoList::before, 
.preset3-dark #customization-menu::before
{
    background: transparent;
}